<tr>
  <td><%= t("date.month_names")[bill.tab.month]%></td>
  <td><%= link_to bill.number, admin_bill_path(bill, format: :pdf)%></td>
  <td><%= bill.user.first_name%> <%= bill.user.last_name%></td>
  <td><%= number_to_euro(bill.amount) %></td>
  <td>
    <% if bill.paid? %>
      <%= fa_icon "check 2x", class: 'icon-green' %>
    <% else %>
      <%= fa_icon "close 2x", class: 'icon-red' %>
    <% end %>
  </td>
  <td>
    <%= link_to t('admin.bills.pay'), admin_bill_path(bill), method: :put, data: {confirm: t('admin.bills.confirm', number: bill.number)} unless bill.paid? %>
  </td>
</tr>
