<% unless smart_listing.empty? %>
<table class="table col-md-12">
  <thead>
    <tr>
      <th><%= t('admin.bills.month')%></th>
      <th><%= smart_listing.sortable  t('admin.bills.number'),:number%></th>
      <th><%= t('admin.bills.user')%></th>
      <th><%= t('admin.bills.sum')%></th>
      <th><%= smart_listing.sortable  t('admin.bills.paid'), :paid%></th>
      <th><%= t('admin.bills.reminded_at')%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |bill| %>
    <tr>
      <td><%= translated_month(bill.tab.month)%></td>
      <td><%= link_to bill.number, admin_bill_path(bill, format: :pdf)%></td>
      <td><%= bill.user.first_name%> <%= bill.user.last_name%></td>
      <td><%= number_to_euro(bill.amount) %></td>
      <td>
        <% if bill.paid? %>
          <%= fa_icon "check lg", class: 'icon-green' %>
        <% else %>
          <%= fa_icon "close lg", class: 'icon-red' %>
        <% end %>
      </td>
      <% if bill.reminded_at %>
        <td>
          <%= link_to l(bill.reminded_at, format: :short), admin_bill_reminder_path(bill), data: {confirm: t('admin.bills.confirm_remind', email: bill.user.email, number: bill.number)} unless bill.paid? %>
        </td>
      <% else %>
        <td>
          <%= link_to t('admin.bills.remind'), admin_bill_reminder_path(bill), data: {confirm: t('admin.bills.confirm_remind', email: bill.user.email, number: bill.number)} unless bill.paid? %>
        </td>
      <% end %>
      <td>
        <%= link_to t('admin.bills.pay'), admin_bill_path(bill), method: :put, data: {confirm: t('admin.bills.confirm_paaid', number: bill.number)} unless bill.paid? %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= smart_listing.paginate kaminari_options: { theme: 'bootstrap4' } %>
<% else %>
<p>
  Keine Einträge gefunden
</p>
<% end %>
