<div class="col-12">
  <div class="card">
    <div class="card-block">
        <h3 class="card-title text-center"><%= t('admin.bills.headline')%></h3>
          <h6><%= t('admin.bills.open', count: @unbilled_tabs.count) %></h6>
          <p>
            <%= link_to t('admin.bills.create'), admin_bills_path, method: :post if @unbilled_tabs.any? %>
          </p>
          <%= simple_form_for :bill, url: admin_bills_path, method: :get do |f| %>
            <%= f.simple_fields_for :filter do |p| %>
              <%= p.input :term,
                            required: false,
                            label: t('admin.bills.filter'),
                            as: :select,
                            selected: @filter,
                            collection: [['', 'all'], ['offen', 'open'], ['bezahlt', 'paid']] %>
            <% end %>
          <% end %>
        <table class="table">
          <thead>
            <tr>
              <th><%= t('admin.bills.month')%></th>
              <th><%= t('admin.bills.number')%></th>
              <th><%= t('admin.bills.user')%></th>
              <th><%= t('admin.bills.sum')%></th>
              <th><%= t('admin.bills.paid')%></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: @bills %>
          </tbody>
        </table>
    </div>
  </div>
</div>
