<div class="col-md-12">
  <div class="card">
    <div class="card-block">
      <h6 class="card-subtitle mb-2 text-muted text-center"><%= t('admin.shop.tab.description', user: "#{@tab.user.first_name} #{@tab.user.last_name}") %></h6>
      <% if @tab.tab_items.any? %>
        <table class="table">
          <thead>
            <tr>
              <th><%= t('admin.shop.tab.title')%></th>
              <th><%= t('admin.shop.tab.price')%></th>
              <th><%= t('admin.shop.tab.quantity') %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <%= render partial: "admin/shops/tab_item", collection: @tab.tab_items, as: :tab_item %>
          </tbody>
        </table>
      <% else %>
       <p class="card-text text-center">
         <%= t('shop.list.empty')%>
       </p>
      <% end %>
    </div>
  </div>
</div>
