<div class="col-12">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-center"><%= t('admin.shop.headline')%></h3>
      <%= simple_form_for @cart, url: new_admin_cart_path, method: :get do |f| %>
          <%= f.association :user, label: t('admin.shop.user'), collection: @users.map {|user| ["#{user.last_name} #{user.first_name}", user.id]} %>
      <% end %>
    </div>
  </div>
</div>

<% if @cart.persisted? %>
  <%= render partial: 'user_tab' %>
  <%= render partial: 'product_list' %>
  <%= render partial: 'cart' if @cart.tab_items.any? %>
<% end %>
