<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title text-center"><%= t('admin.shop.headline')%></h4>
    </div>
    <div class="card-block">
      <%= simple_form_for @cart, url: new_admin_cart_path, method: :get do |f| %>
      <%= f.association :user,
            label: false,
            collection: @users.map { |user| ["#{user.last_name} #{user.first_name}", user.id] },
            input_html: { 
              class: 'selectpicker',
              data: { show_subtext: true, live_search: true, live_search_placeholder: 'Suche...', none_selected_text: 'Kein Benutzer ausgewählt...'}
            } %>
      <% end %>
    </div>
  </div>
</div>

<% if @cart.persisted? %>
<%= render partial: 'admin/shops/user_tab/user_tab' %>
<%= render partial: 'admin/shops/products/products' %>
<div class="col-md-4" id="cart">
  <%= render partial: 'admin/shops/cart/cart' %>
</div>
<% end %>
