<tr>
  <td><%= bill.tab.month %></td>
  <td><%= link_to bill.number, admin_bill_path(bill, format: :pdf)%></td>
  <td><%= bill.tab.total_price %></td>
  <td>
    <% if bill.paid? %>
      <%= fa_icon "check 2x", class: 'icon-green' %>
    <% else %>
      <%= fa_icon "close 2x", class: 'icon-red' %>
    <% end %>
  </td>
</tr>
