<div class="col-md-12 col-s-12">
  <div class="card">
    <div class="card-block">
      <h3 class="card-subtitle mb-2 text-center"><%= t('user.bills.headline') %></h6>
        <% if @bills.any? %>
          <table class="table">
            <thead>
              <tr>
                <th><%= t('admin.bills.month')%></th>
                <th><%= t('admin.bills.number')%></th>
                <th><%= t('admin.bills.sum')%></th>
                <th><%= t('admin.bills.paid')%></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'users/bill', collection: @bills, as: :bill %>
            </tbody>
          </table>
        <% else %>
          <p><%= t('user.bills.empty') %></p>
        <% end %>
    </div>
  </div>
</div>
