<%= simple_form_for @user do |f| %>
  <%= f.input :gender, label: t('admin.users.gender'), as: :select, collection: translated_genders, selected: @user.gender, wrapper_html: {class: 'col-12'} %>
  <%= f.input :first_name, label: t('admin.users.firstname'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.first_name} %>
  <%= f.input :last_name, label: t('admin.users.lastname'), wrapper_html: {class: 'col-12'},input_html: { value: @user.last_name} %>
  <%= f.input :email, label: t('admin.users.email'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.email} %>
  <%= f.input :street, label: t('admin.users.street'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.street } %>
  <%= f.input :zip, label: t('admin.users.zip'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.zip } %>
  <%= f.input :city, label: t('admin.users.city'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.city } %>
  <%= f.input :iban, label: t('admin.users.iban'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.bank } %>
  <%= f.input :bic, label: t('admin.users.bic'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.bic } %>
  <%= f.input :bank, label: t('admin.users.bank'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.bank } %>
  <%= f.input :member_number, disabled: true, label: t('user.member_number'), wrapper_html: {class: 'col-12'}, input_html: { value: @user.member_number } %>

  <div class="col-sm-12">
    <%= f.submit t('user.profile.submit'), class: 'button col-sm-12 col-md-4 push-md-4' %>
  </div>
<% end %>

<%= simple_form_for @user do |f| %>
    <%= f.input :current_password, label: t('admin.users.password'), auto_complete: 'off', wrapper_html: {class: 'col-12'} %>
    <%= f.input :password, label: t('admin.users.password'), auto_complete: 'off', wrapper_html: {class: 'col-12'} %>
    <%= f.input :password_confirmation, label: t('admin.users.password_confirmation'), wrapper_html: {class: 'col-12'} %>
    <div class="col-sm-12">
      <%= f.submit t('user.profile.submit'), class: 'button col-sm-12 col-md-4 push-md-4' %>
    </div>
<% end %>
