<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to t('nav_bar.private'), root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item <%= 'active' if current_page?(admin_shops_path) %>">
        <%= link_to t('admin.nav_bar.shop'), admin_shops_path, class: 'nav-link '%>
      </li>
      <li class="nav-item <%= 'active' if current_page?(admin_users_path) %>">
        <%= link_to t('admin.nav_bar.users'), admin_users_path, class: 'nav-link '%>
      </li>
      <li class="nav-item <%= 'active' if current_page?(admin_products_path) %>">
        <%= link_to t('admin.nav_bar.products'), admin_products_path, class: 'nav-link '%>
      </li>
      <li class="nav-item <%= 'active' if current_page?(admin_bills_path) %>">
        <%= link_to t('admin.nav_bar.bills'), admin_bills_path, class: 'nav-link '%>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 col-md-2 mt-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('nav_bar.account') %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to t('nav_bar.logout'), destroy_user_session_path, class: 'dropdown-item', method: :delete%>
        </div>
      </li>
    </ul>
  </div>
</nav>
