<div class="col-12">
  <%= render partial: 'shared/bill_reminder' %>
</div>

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-subtitle mb-2 text-center"><%= t('bills.headline') %></h4>
    </div>
    <div class="card-block">
        <% if @bills.any? %>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><%= t('bills.month')%></th>
                <th><%= t('bills.number')%></th>
                <th><%= t('bills.sum')%></th>
                <th><%= t('bills.paid')%></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: @bills %>
            </tbody>
          </table>
        <% else %>
          <p><%= t('bills.empty') %></p>
        <% end %>
    </div>
  </div>
</div>
