<div class="card row text-center">
  <div class="card-block">
      <h3 class="card-title"><%= t('tab.list.headline')%></h3>
      <h6 class="card-subtitle mb-2 text-muted"><%= t('tab.list.description') %></h6>
    <% if @tab.tab_items.any? %>
      <table class="table table-striped col-md-12">
        <thead>
          <tr>
            <th><%= t('tab.product.title')%></th>
            <th><%= t('tab.product.price')%></th>
            <th><%= t('tab.quantity') %></th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: @tab.tab_items %>
        </tbody>
      </table>
    <% else %>
     <p class="card-text">
       <%= t('tab.list.empty')%>
     </p>
     <a href="#" class="button">
       <%= t('tab.list.link')%>
     </a>
    <% end %>
  </div>
</div>
