<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-subtitle mb-2 text-center"><%= t('admin.shop.tab.description', user: "#{@tab.user.first_name} #{@tab.user.last_name}") %></h5>
    </div>
    <div class="card-block">
      <% if @tab.tab_items.any? %>
        <div class="row table-header">
          <div class="col-sm-3"><%= t('admin.shop.tab.title')%></div>
          <div class="col-sm-3"><%= t('admin.shop.tab.price')%></div>
          <div class="col-sm-2"><%= t('admin.shop.tab.quantity') %></div>
          <div class="col-sm-2"></div>
          <div class="col-sm-2"><%= t('admin.shop.tab.delete_action') %></div>
        </div>
        <%= render partial: "admin/shops/user_tab/tab_item", collection: @tab.tab_items, as: :tab_item %>
      <% else %>
       <p class="card-text text-center">
         <%= t('shop.list.empty')%>
       </p>
      <% end %>
    </div>
  </div>
</div>
