<h4 class="bill__title">Abrechnung <%= bill_presenter.month %>
  <%= bill_presenter.number %>
  <span class="bill__date"><%= l Date.today, format: :long %></span>
</h4>

<p>Hallo <%= bill_presenter.user %>,</p>

<p>
  bitte zahlen Sie den ausstehenden Betrag in Höhe von  <strong> <%= bill_presenter.amount %> </strong> innerhalb von 14 Tagen
  am Tresen. Geben sie hierbei die Rechnungsnummer <strong><%= bill_presenter.number%></strong> an.
</p>

<p>
  Mit freundlichen Grüßen, </br>
  das Crossfit HH Team
</p>


<% if bill_presenter.items.any? %>
  <h4>
    Einzelauflistung:
  </h4>

  <table class=" bill__table">
    <thead>
      <tr>
        <th><%= t('my_tab.product.title')%></th>
        <th><%= t('my_tab.product.quantity') %></th>
        <th><%= t('my_tab.product.price')%></th>
      </tr>
    </thead>
    <tfoot>
      <% if bill_presenter.discount.present? %>
        <tr>
          <td></td>
          <td><%= t('my_tab.discount') %>:</td>
          <td><%= bill_presenter.discount %>%</td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td><%= t('my_tab.sum') %></td>
        <td><%= bill_presenter.amount %></td>
      </tr>
    </tfoot>
    <tbody>
        <%= render partial: 'admin/bills/items.html.erb', collection: bill_presenter.items, as: :item %>
    </tbody>
  </table>
<% end %>
</div>
