<%= simple_form_for [:admin, @product] do |f| %>
<div>
  <%= f.input :title, label: t('admin.products.title'), input_html: { value: @product.title} %>
  <%= f.input :price, as: :decimal, label: t('admin.products.price'), input_html: { value: @product.price} %>
  <%= f.input :plu, label: t('admin.products.plu'), input_html: { value: @product.plu} %>
  <%= f.input :product_group, label: t('admin.products.product_group'), input_html: { value: @product.product_group} %>
  <%= f.input :product_group_id, label: t('admin.products.product_group_id'), input_html: { value: @product.product_group_id} %>
  <%= f.input :product_type, label: t('admin.products.product_type'), input_html: { value: @product.product_type} %>
  <%= f.input :archived, as: :boolean, label: t('admin.products.archived'), hint: t('admin.products.archived_hint'), input_html: { value: @product.archived} %>
  <%= f.submit class: 'button' %>
  <% if @product.persisted? %>
  <%= link_to t('admin.products.destroy_link'), admin_product_path(@product), class: 'btn btn-secondary', method: :delete, data: { confirm: t('admin.products.destroy_confirm') } %>
  <% end %>
</div>
<% end %>
