<% unless smart_listing.empty? %>
<table class="table col-md-12">
  <thead>
    <tr>
      <th><%= smart_listing.sortable(t('admin.products.title'), :title) %></th>
      <th><%= smart_listing.sortable t('admin.products.price'), :price %></th>
      <th><%= smart_listing.sortable t('admin.products.plu'), :plu%></th>
      <th><%= smart_listing.sortable t('admin.products.product_group'), :product_group %></th>
      <th><%= smart_listing.sortable t('admin.products.product_type'), :product_type %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= number_to_euro(product.price) %></td>
      <td><%= product.plu %></td>
      <td><%= product.product_group %></td>
      <td><%= product.product_type %></td>
      <td>
        <%= link_to edit_admin_product_path(product), method: :get do %>
        <%= fa_icon "edit lg", class: 'icon-red' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= smart_listing.paginate kaminari_options: {theme: 'bootstrap4'} %>
<%= smart_listing. pagination_per_page_links %>
<% else %>
<p>
  Keine Ergebnisse gefunden
</p>
<% end %>
