<div class="col-12">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-center"><%= t('admin.products.headline')%></h3>
      <h6 class="card-subtitle mb-2 text-muted text-center"><%= t('admin.products.description') %></h6>
      <%= link_to t('admin.products.create_link'), new_admin_product_path, class: 'float-right' %>
      <%= smart_listing_controls_for(:products, {class: "form"}) do %>
      <div class="checkbox">
        <label class="checkbox">
          <%= hidden_field_tag :archived, "0" %>
          <%= t('admin.products.archived') %>
          <%= check_box_tag :archived %>
        </label>
      </div>
      <div class="form-group filter input-append">
          <%= select_tag :filter, options_for_select(Product.all.map { |product| [product.product_group, product.product_group] }.uniq ),
                                  class: 'form-control select optinal',
                                  prompt: t('admin.products.product_group'),
                                  include_blank: false %>
      </div>
      <% end %>
      <%= smart_listing_render(:products) %>
    </div>
  </div>
</div>
