<div class="col-12">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-center"><%= t('admin.products.headline')%></h3>
      <h6 class="card-subtitle mb-2 text-muted text-center"><%= t('admin.products.description') %></h6>
      <%= link_to t('admin.products.create_link'), new_admin_product_path %>
      <% # Render smart listing controls form %>
      <%= smart_listing_controls_for(:products, {class: "form-inline text-right float-right"}) do %>
      <% # Add checkbox to form - switching it submits the form %>
      <div class="checkbox">
        <label class="checkbox inline">
          <%= hidden_field_tag :archived, "0" %>
          <%= check_box_tag :archived %>
          <%= t('admin.products.archived') %>
        </label>
      </div>
      <% end %>
      <%= smart_listing_render(:products) %>
    </div>
  </div>
</div>
