<div class="col-12">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-center"><%= t('admin.products.headline')%></h3>
      <h6 class="card-subtitle mb-2 text-muted text-center"><%= t('admin.products.description') %></h6>
      <%= link_to t('admin.products.create_link'), new_admin_product_path %>
      <%= smart_listing_controls_for(:products, {class: "form-inline text-right float-right"}) do %>
      <div class="form-group filter input-append">
        <label class="select mr-sm-2">
          <%= t('admin.products.product_group') %>
          <%= select_tag :filter, options_for_select(@products.map {|product| [product.product_group, product.product_group] }.uniq ),
                                  class: 'form-control' %>
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox mb-2 mr-sm-2 mb-sm-0">
          <%= hidden_field_tag :archived, "0" %>
          <%= t('admin.products.archived') %>
          <%= check_box_tag :archived %>
        </label>
      </div>
      <% end %>
      <%= smart_listing_render(:products) %>
    </div>
  </div>
</div>
