<div class="col-12">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title text-center"><%= t('admin.users.headline')%></h3>
      <h6 class="card-subtitle mb-2 text-muted text-center"><%= t('admin.users.description') %></h6>
      <%= link_to t('admin.users.create'), new_admin_user_path %>
      <table class="table col-md-12">
        <thead>
          <tr>
            <th><%= t('admin.users.email') %></th>
            <th><%= t('admin.users.firstname') %></th>
            <th><%= t('admin.users.lastname') %></th>
            <th><%= t('admin.users.membership') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: 'admin/users/user', collection: @users, as: :user %>
        </tbody>
      </table>
    </div>
  </div>
</div>
