<table class="table col-md-12">
  <thead>
    <tr>
      <th><%= t('cart.title')%></th>
      <th><%= t('cart.quantity') %></th>
      <th><%= t('cart.price')%></th>
    </tr>
  </thead>
  <tfoot>
    <td></td>
    <td><%= t('my_tab.sum') %></td>
    <td><%= number_to_euro(cart.total_price) %></td>
  </tfoot>
  <tbody>
      <%= render partial: 'tab_items/tab_item', collection: cart.tab_items %>
  </tbody>
</table>
<p><%= link_to t('cart.checkout'), cart_path(cart), method: :put, class: 'button-cart' %></p>
<p><%= link_to t('cart.clear'), cart_path(cart), method: :delete, class: 'button-cart' %></p>
