<div class="col-md-4 col-s-12">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title text-center"><%= t('cart.headline')%></h3>
      <table class="table col-md-12">
        <thead>
          <tr>
            <th><%= t('cart.title')%></th>
            <th><%= t('cart.quantity') %></th>
            <th><%= t('cart.price')%></th>
          </tr>
        </thead>
        <tfoot>
          <td></td>
          <td><%= t('my_tab.sum') %></td>
          <td><%= number_to_euro(@cart.total_price) %></td>
        </tfoot>
        <tbody>
            <%= render partial: 'tab_items/tab_item', collection: @cart.tab_items %>
        </tbody>
      </table>
      <% if @cart.tab_items.any? && @cart.persisted? %>
        <%= link_to t('cart.checkout'), cart_path(@cart), method: :put, class: 'button-cart' %>
        <%= link_to t('cart.clear'), cart_path(@cart), method: :delete, class: 'button-cart' %>
      <% end %>
    </div>
  </div>
</div>
