<tr>
  <td><%= product.title %></td>
  <td><%= number_to_euro(product.price) %></td>
  <td>
    <%= link_to '', onclick: 'return false;',data: {toggle: 'modal', target: "#confirmModal#{product.id.to_s}"}  do %>
      <%= fa_icon "plus-square 2x" %>
    <% end %>
  </td>
</tr>

<!-- Modal -->
<div class="modal fade" id="confirmModal<%= product.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for @tab_item do |f| %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t('products.quantity') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= f.input :quantity, as: :integer, label: false, input_html: { value: 1 } %>
        <%= f.input :product_id, as: :hidden, input_html: { value: product.id } %>
        <%= f.input :cart_id, as: :hidden, input_html: { value: @cart&.id } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('products.cancel') %></button>
        <%= f.submit t('products.add'), class: 'btn btn-primary'%>
      </div>
      <% end %>
    </div>
  </div>
</div>
