<div class="card row">
  <div class="card-block">
    <h3 class="card-title text-center"><%= t('products.headline')%></h3>
    <h6 class="card-subtitle mb-2 text-muted text-center"><%= t('products.description') %></h6>
    <table class="table col-md-12">
      <thead>
        <tr>
          <th><%= t('products.title') %></th>
          <th><%= t('products.price') %></th>
          <th><%= t('products.action') %></th>
        </tr>
      </thead>
      <tbody>
          <%= render partial: @products %>
      </tbody>
    </table>
  </div>
</div>
