<% if @cart.tab_items.any? %>
  <%= render partial: 'cart' %>
<div class="col-md-8 col-s-12">
<% else %>
  <div class="col-md-12 col-s-12">
<% end %>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title text-center"><%= t('products.headline')%></h3>
    </div>
    <div class="card-block">
      <table class="table col-md-12">
        <thead>
          <tr>
            <th><%= t('products.title') %></th>
            <th><%= t('products.price') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: @products %>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center text-muted">
      <h6 class="card-subtitle mb-2"><%= t('products.description') %></h6>
    </div>
  </div>
</div>
