<!DOCTYPE html>
<html>
  <head>
    <title>Crossfit HH Tablist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/nav_bar'%>
    <div class="container">
      <%= render partial: 'shared/notification'%>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
